$color__black: #272727;
$color__white: #fff;
$color__red: #da251d;
$color__lightgray: #cfcfcf;
$color_midgray: #949494;
$color_darkgray: #858585;
$color_nav: #b7b7b7;
$color_graydot: #D6D6D6;
$color_slider: #F4F4F4;
$color_footer_li: #c9c9c9;

